<div class="dashboard-content">
  <h1>Welcome to Jala Academy</h1>
  <p>
    Do you want to Learn Selenium Automation completely with Practical Scenarios
    in 7 Days?
  </p>
  <div class="row m-t-md m-l-md m-r-md">
    <p>
      You Learn Everything by doing projects if you are very serious to gat a
      software job in 60 days contact us :
      <a href="https://jalaacademy.com/" target="_blank"
        >http://jalatechnologies.com/contact-us.html</a
      >
    </p>
    <p>
      <b> For working people can double the salery in 60 Days </b>
    </p>
  </div>
</div>
