.admin-login-page {
    width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    ::ng-deep a {
        text-decoration: none;
        color: blue;;
    }
}

.admin-login-page-form {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
       ::ng-deep form {
        display: flex;
        flex-direction: column;
        ::ng-deep label {
            margin-bottom: 10px;
            font-weight: 600;
        }
        ::ng-deep input {
            margin-bottom: 10px;
            padding: 6px 10px;
        } 
    }
}

.admin-login-page-form-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ::ng-deep button {
        margin-bottom: 10px;
        width: 100px;
        height: 30px;
        background-color: #3c8dbc;
        border-color: #367fa9;
    }
}