    .multiple-tabs {
      margin: 10px;
      display: flex;
      width: 76%;
      position: absolute;
      top: 44%;
      left: 17%;
      background-color: azure;
      line-height: 50px;
      padding: 10px;
    }
  