.slider-container {
    background-color: azure;
    width: 80%;
    height: 40%;
    margin: auto;
    position: absolute;
    top: 25%;
    left: 14%;
}

mat-slider {
    width: 1000px;
    cursor: pointer;
  }
.mat-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 37px;
    flex-direction: column;
}