.popups-container {
    background-color: azure;
    width: 80%;
    height: 40%;
    margin: auto;
    position: absolute;
    top: 25%;
    left: 14%;
  
    .popups-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      margin-left: 10px;
  
      .popup-row {
        width: calc(33.33% - 10px);
        margin: 5px;
      }
    }
  }
  