<div class="forgot-password-page">
  <div class="forgot-password-page-form">
    <h5>Forgot password</h5>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <label>Email</label>
      <input
        type="text"
        placeholder="Enter your Email id"
        formControlName="email"
      />
      <div
        style="color: red"
        *ngIf="
          forgotPasswordForm.get('email')?.invalid &&
          (forgotPasswordForm.get('email')?.dirty ||
            forgotPasswordForm.get('email')?.touched)
        "
      >
        <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">
          Email is required
        </div>
        <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">
          Invalid email format.
        </div>
      </div>
      <div class="forgot-password-page-form-footer">
        <a href="/login">Back</a>
        <button type="submit">Get Password</button>
      </div>
    </form>
  </div>
</div>
