<div>
  <h1>Employee Registration</h1>

  <div class="registration-form">
    <div class="employee-details">
      <h1>Employee Details</h1>
      <form>
        <div>
          <label>Name</label>
          <input type="text" name="name" />
        </div>
        <div>
          <label>Email</label>
          <input type="email" name="email" />
        </div>
        <div>
          <label>Phone No</label>
          <input type="tel" name="phone" />
        </div>
        <div>
          <label>City</label>
          <input type="text" name="city" />
        </div>
        <div>
          <label>State</label>
          <input type="text" name="state" />
        </div>
        <div>
          <label>Date of Birth</label>
          <input type="date" name="dateOfBirth" />
        </div>
        <div>
          <label>Gender</label>
          <input type="checkbox" name="gender" />
          <label>Male</label>
          <input type="checkbox" name="gender" />
          <label>Female</label>
        </div>
        <div>
          <label>Address</label>
          <textarea></textarea>
        </div>
      </form>
    </div>
    <div class="employee-skills">
      <h1>Skills</h1>
      <div>
        <input type="checkbox" name="aws" />
        <label>AWS</label>
        <input type="checkbox" name="fullstack" />
        <label>Full Stack Development</label>
        <input type="checkbox" name="devops" />
        <label>Devops</label>
        <input type="checkbox" name="webservices" />
        <label>Web-Services</label>
        <input type="checkbox" name="qaautomation" />
        <label>QA-automation</label>
      </div>
    </div>
  </div>
</div>
